apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

helmCharts:
- name: hcloud-csi
  releaseName: hcloud-csi
  namespace: kube-system
  repo: https://charts.hetzner.cloud
  version: "2.6.0"
  valuesFile: values.yaml

patches:
- path: patches/storageclass.yaml

generators:
  - ksops-generator.yaml